<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Admin panel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {{#if admins}}
                <div class="dropdown show">
                    <a class="btn btn-white dropdown-toggle nav-item" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Orders
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

                        <a class="dropdown-item " href="/admin/all-orders">All orders</a>
                        <a class="dropdown-item" href="/admin/all-shipped-orders">Shipped Orders</a>
                        <a class="dropdown-item" href="/admin/all-delivered-orders">Delivered Orders</a>
                    </div>
                </div>
                <div class="dropdown show">
                    <a class="btn btn-white dropdown-toggle nav-item" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Users
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

                        <a class="dropdown-item " href="/admin/all-users">All users</a>
                        {{!-- <a class="dropdown-item" href="#">Shipped Orders</a>
                        <a class="dropdown-item" href="#">Delivered Orders</a> --}}
                    </div>
                </div>

                {{/if}}

            </ul>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{#if admins}}
                    {{admins.Name}}
                    {{else}}
                    Account
                    {{/if}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {{#if admins}}
                    <a class="dropdown-item" href="/admin/admin-logout">Logout</a>
                    {{else}}
                    <a class="dropdown-item" href="admin/admin-login">Login</a>
                    {{/if}}

                </div>
            </div>
        </div>
    </nav>
</header>